{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/a.css' %}">
    <style>
        .layer1 {
        float: left; /* Обтекание по правому краю */
        margin-right: 20px;
        }
    </style>
    <style>
        .layer2 {
         /* Обтекание по правому краю */
        margin-left: 450px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/b.css' %}">
    <title>Курсы</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
            <a class="navbar-brand" href="">Курсы</a>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/create/">Добавить курс</a></li>
                <li><a >{{ request.user.username }}</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
    {% for Course in Courses %}
        <div class="layer1">
        <img src="{% static Course.Picture %}" width="100" height="200" alt="" style="">
        </div>
        <p>
        Название курса-{{ Course.Duration }}<br><br><br>
        Длительность курса-{{ Course.Name }}<br><br><br>
        Преподаватель-{{ Course.Teacher }}<br><br><br>
        Стоимость курса-{{ Course.Value }}
        <form  action="{{ Course.id }}" >
            <button class="layer2">Подробнее</button>
        </form>
        </p>
        <hr/>
    {% endfor %}
</body>
</html>