{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/a.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/b.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
            <a class="navbar-brand" href="">Регистрация</a>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Вернуться</a></li>
            </ul>
        </div>
    </div>
</nav>
</head>
    <form method="post">{% csrf_token %}
        <div class="form-group">
        {% for el in errors %}
        <div>
            <strong>{{ el }}</strong>
        </div>
        {% endfor %}
        </div>
        <p><label>Логин:
        <input type="text" name="username" value="{{ username }}">
        </label></p>
        <p><label>Пароль:
        <input type="password" name="password">
        </label></p>
        <p><label>Повторите ввод:
        <input type="password" name="password2">
        </label></p>
        <p><label>Фамилия:
        <input type="text" name="last_name" value="{{ last_name }}">
        </label></p>
        <p><label>Имя:
        <input type="text" name="first_name" value="{{ first_name }}">
        </label></p>
​        <button type="submit">Зарегистрировать​</button>
    </form>
</body>
</html>